@model IEnumerable<Assignment.Models.Reviews>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsersId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.Raw(@ViewBag.userNames[item.RestaurantsId])
    </td>
    <td>
        @Html.Raw(@ViewBag.restaurantNames[item.RestaurantsId])
    </td>
    <td>
        @Html.Raw(item.Description)
    </td>
    <td>
        @Html.Raw(item.Rate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
