@model IEnumerable<Assignment.Models.Requests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Requests</h2>

@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.RequestTable').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />

<table class="RequestTable">
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.RestaurantsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="col-md-4">
                    @Html.Raw(@ViewBag.restaurantNames[item.RestaurantsId])
                </td>
                <td class="col-md-4">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Review", "Create","Reviews",new { restId = item.RestaurantsId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
