@model Assignment.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

        @if (User.IsInRole("Owner") == false && User.IsInRole("Admin") == false && ViewBag.state == false)
        {
            <dt>Become Owner:</dt>
            <dd>
                [
                @Html.ActionLink("Confirm", "Create", "AspNetUserRoles")
                ]
            </dd>
        }

            @if (User.IsInRole("Admin") == true)
            {
            <dt>View Reviews:</dt>
            <dd>
                [
                @Html.ActionLink("Review", "Index", "Reviews")
                ]
            </dd>
        }

            @if (User.IsInRole("Owner") == true || User.IsInRole("Admin") == true || ViewBag.state == true)
            {
                <dt>Create Restaurant:</dt>
                <dd>
                    [
                    @Html.ActionLink("Create", "Create", "Restaurants")
                    ]
                </dd>
                <dt>Manage Restaurant:</dt>
                <dd>
                    [
                    @Html.ActionLink("Manage", "Manage", "Restaurants")
                    ]
                </dd>
            }
        </dl>
</div>
